html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 70px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-brand {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.register-brand-name {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#registerForm {
    width: 35%;
}

/* 
    mai jos sunt clasele pentru 
    profilul unui utilizator
*/

.profile-info-container {
    width: 100%;
    min-height: 130px;
    font-family: Arial;
    cursor: default;
}

.pfp-container {
    min-width: 120px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.pfp-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-profile {
    width: 500px;
    height: 100%;
}

.profile-stats {
    width: 80%;
}

.profile-info {
    flex-grow: 1;
}

.follow-button {
    width: 100%;
}

/* postarile din profil */

.profile-posts-container {
    width: 700px;
}

.profile-post {
    min-height: 120px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 9px;
}

.profile-post:hover {
    background-color: #fafafa;
}

.profile-post-info {
    width: 100%;
}

/* poza de profil din postare */

.post-pfp-container {
    min-width: 60px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.post-pfp-container img {
    width: 100%;
    height: 100%;
}

/* continut text postare */

.profile-post-content {
    flex-grow: 1;
    white-space: pre-line;
}

/* informatii si actiuni postare */

.profile-post-likes {
    width: 31px;
}

.profile-post-likes:hover {
    color: red;
}

.post-options {
    flex-grow: 1;
    padding-right: 25px;
}

.post-data {
    width: 100%;
}

.post-date {
    margin-left: auto;
}

.clickable-post {
    cursor: pointer;
}

.three-dot-menu {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
}

.three-dot-menu:hover {
    background-color: #f6f6f6;
}

/*
    editare profil
*/


.edit-profile-info {
    width: 500px;
    min-height: 130px;
    font-family: Arial;
    cursor: default;
}

/* editare poza profil */

.pfp-input {
    min-width: 120px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.pfp-input img {
    width: 100%;
    height: 100%;
}
.pfp-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.pfp-input:hover .pfp-overlay {
    opacity: 1;
}

/* editare informatii profil */

.change-info-form {
    width: 500px;
}

/* responsive */

@media screen and (max-width: 768px) {
    .profile-posts-container {
        width: 100%;
    }

    .pfp-container {
        min-width: 90px;
        width: 90px;
        height: 90px;
    }

    .user-profile {
        width: 100%;
        height: 100%;
    }

    .profile-stats {
        width: 80%;
    }

    .profile-info {
        flex-grow: 1;
    }

    .profile-post {
        min-height: 120px;
        padding: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 9px;
    }

    .profile-post:hover {
        background-color: #fafafa;
    }

    .post-pfp-container {
        min-width: 60px;
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .user-profile {
        width: 100%;
    }
}